
<div class="container">
    <div class="lands-intro">
        <div class="card" *ngIf="!edit">
            <div *ngIf="langBaseData.introStatus != 0" class="content" style="white-space: pre-wrap;">{{ langBaseData.intro ? langBaseData.intro : 'Nothing Here' }}</div>
            <div *ngIf="langBaseData.introStatus == 0" class="content" style="white-space: pre-wrap;">Nothing Shared</div>
        </div>
    
        <div class="card" *ngIf="edit">
            <div class="d-flex justify-content-between pb-3">
                <div class="title">Introduction</div>
                <div class="calc"><span [ngClass]="langBaseData.intro?.length > 1000 ? 'text-danger' : 'text-white'">{{ langBaseData.intro?.length || 0 }}</span>/1000</div>
            </div>
            <hr>
    
    
            <div *ngIf="!introEditing" class="content" (click)="introEdit()" style="white-space: pre-wrap;">{{ langBaseData.intro ? langBaseData.intro : 'Nothing Here.' }}</div>
            
            <textarea *ngIf="introEditing" class="form-control form-control-edit" rows="8" (blur)="introEdit()" (keyup.enter)="introEdit()" [(ngModel)]="langBaseData.intro" maxlength="1000" placeholder="Introduce the land..." autoFocus></textarea>
    
            <div class="d-flex flex-row-reverse">
                <div class="custom-control custom-switch custom-switch-md">
                    <input type="checkbox" class="custom-control-input" id="customIntro" [checked]="langBaseData.introStatus" (change)="changeIntroStatus($event)">
                    <label class="custom-control-label" for="customIntro"></label>
                </div>
            </div>
        </div>
    </div>
</div>
