<h2 mat-dialog-title class="text-white text-center">
    Delete
    <mat-icon class="float-right" (click)="close()">close</mat-icon>
</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col">
            <p class="text-center text-white">Are you sure you want to delete this item?</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="button" class="btn btn-secondary mx-3" [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
            <button type="button" class="btn btn-primary mx-3" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
        </div>
    </div>
</mat-dialog-content>