<app-top-bar></app-top-bar>
<router-outlet></router-outlet>
<div class="footer d-none d-md-flex">
    <a class="footer-item text-white nav-link" href="https://mobile.twitter.com/olandbox" target="_blank">
        <img src="./assets/images/twitter.png"/>
    </a>
    <a class="footer-item text-white nav-link" href="https://discord.gg/2pgsTcfyDH" target="_blank">
        <img src="./assets/images/discord.png"/>
    </a>
    <a class="footer-item text-white nav-link" href="https://t.me/ontologyLand2022" target="_blank">
        <img src="./assets/images/bxl-telegram.png"/>
    </a>
</div>