<div class="row justify-content-center mb-3 ">
    <div class="col-10 col-lg-8 bg-dark-first">
        <div class="row text-center logout-board rounded overflow-hidden" *ngIf="defaultInfo">
            <div class="col-6 col-md-3 py-4">
                <div class="fs-3 text-white"><strong>{{ defaultInfo.amount }}</strong></div>
                <div class="font-second">Mint quantity</div>
            </div>
            <div class="col-6 col-md-3 py-4">
                <div class="fs-3 text-white"><strong>{{ defaultInfo.sixPrice }}</strong><span class="fs-6 ml-1">DEV</span></div>
                <div class="font-second">length 6</div>
            </div>
            <div class="col-6 col-md-3 py-4">
                <div class="fs-3 text-white"><strong>{{ defaultInfo.sevenPrice }}</strong><span class="fs-6 ml-1">DEV</span></div>
                <div class="font-second">length 7</div>
            </div>
            <div class="col-6 col-md-3 py-4">
                <div class="fs-3 text-white"><strong>{{ defaultInfo.eightPrice }}</strong><span class="fs-6 ml-1">DEV</span></div>
                <div class="font-second">length 8+</div>
            </div>
        </div>
    </div>
</div>