<!-- PC -->
<div class="fixed-bottom land-edit-btns d-none d-md-block" [ngClass]="isCoverFooter ? 'non-transparent' : ''">
    <div class="container">
        <div class="d-flex justify-content-between">

            <div class="d-flex justify-content-center align-items-center">
                <button *ngIf="tab === '2'" class="btn-question" popoverClass="popover-class" ngbPopover="Up to six custom links can be added" triggers="mouseenter:mouseleave">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16"  >
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </button>
            </div>

            <div class="d-flex justify-content-around">
                <button class="btn btn-second " (click)="share()">
                    <mat-icon>share</mat-icon>
                    Share
                </button>
                <button class="btn btn-second ml-3" (click)="cancelEdit()">
                    <mat-icon>visibility</mat-icon>
                    Profile View
                </button>
                <button *ngIf="tab === '2'" class="btn btn-main btn-active ml-3" [disabled]="isAdding"  (click)="openAdd()">
                    <mat-icon *ngIf="!isAdding">add_circle</mat-icon>
                    <div *ngIf="isAdding"  class="spinner-border text-light" style="width: 1em; height: 1em" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    Add
                </button>
            </div>
        </div>
    </div>
</div>

<!-- mobile -->
<div class="fixed-bottom land-edit-btns-sm d-md-none">
    <div class="container">

        <div class="d-flex justify-content-around">
            <button class="btn btn-col" (click)="share()">
                <mat-icon>share</mat-icon>
                Share
            </button>
            <button class="btn btn-col" (click)="cancelEdit()">
                <mat-icon>visibility</mat-icon>
                Profile View
            </button>
            <button *ngIf="tab === '2'" class="btn btn-main btn-active" [disabled]="isAdding" (click)="openAdd()">
                <mat-icon *ngIf="!isAdding" class="mr-2">add_circle</mat-icon>
                <mat-spinner *ngIf="isAdding" class="mr-2" [diameter]="24"></mat-spinner>
                Add
            </button>
        </div>

        
    </div>
</div>