<div class="container ">
    <div class="lands-editor row">
        <div class="col-12 col-lg-3 block mb-3">
            <div class="inblock">
                <div class="title text-truncate">Profile</div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" (click)="toEdit()">
                            <div class="flex-shrink-0 img"></div>
                            <div class="card-body text-truncate">
                                <h5 class="card-title text-truncate">Edit blue soul</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 block mb-3 pr-3 pr-lg-0">
            <div class="inblock">
                <div class="title text-truncate">About Land</div>
                <div class="row">

                    <!-- <div class="col-6 pr-0">
                        <div class="card mb-3">
                            <img class="flex-shrink-1" src="../../../../assets/images/discord.png" alt="...">
                            <div class="card-body text-truncate">
                                <h5 class="card-title text-truncate mb-1">Opensea</h5>
                                <p class="card-text text-truncate">This is a wider card with supporting </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-6 pr-0">
                        <div class="card mb-3">
                            <div class="flex-shrink-0 img"></div>
                            <div class="card-body text-truncate" (click)="goLand()">
                                <h5 class="card-title text-truncate">My Land</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
